.center{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myname {
  font-size: 100px;
  color: white;


}
header a:link {
    text-decoration: none;
    color:white;
}

header a:visited {
    text-decoration: none;
    color:white;
}

header a:hover {
    text-decoration: underline;
    color:white;
}
.headerdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialheader {
  color: white;
  font-size: 25px;
  margin-left: auto;
  list-style-type: none;

}

.headertext {
  color:white;
  font-family: 'Open Sans', sans-serif;
}
header img{
    width:8%; /* you can use % */
    height: auto;
    margin-left: 45%;
}



@media screen and (min-width: 480px) {
    .navbar-default {
      background: transparent;
      border-color: transparent;

    }
    .navbar .navbar-nav {
        font-family: 'Shrikhand', cursive;
        display: inline-block;
        float: none;
        vertical-align: top;


    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .active {

      background: #E8E8E8;
    }

    body {
      background: url("../img/ducatiscrambler.jpeg") no-repeat center center fixed;
      background-size: cover;

    }
    footer {
      font-family: 'Open Sans', sans-serif;
      font-size: 15px;

    }


}
@media (max-width: 480px) {
  .myname {
    font-size: 50px;
  }
  body {
    background: #7f7f7f;
    background-size:cover;
  }


}

.backgroundcontainer {
  padding-bottom: 100px;
}
.content {
  background: white;
}
